{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-md-9">
        <br>
        <h2>お気に入りメンバー一覧</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th width = "200px">サークルネーム</th>
                    <th>いいねしたユーザー</th>
                </tr>
            </thead>
            <tbody>
                {% for item in likeprofile_list %}
                <tr>
                    <td><a href="{% url 'mainapp:p_post_detail' item.profile.id %}">{{ item.profile.p_author }}</a></td>
                    <td>{{ item.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endif %}
</div>




{% endblock %}