今のところ、募集に応募するためのフォーム作成まで完了した。

次は、author_idがNULLになってしまうエラーの解決と、対象の募集（ターゲット）の設定と反映をする。

ログイン時のアドレスをめちゃくちゃにして、サイト上からアクセスできなくすることによって、
僕が配ったURLからしかユーザー登録をできなくする。

class PostProfile(models.Model):
    p_author = models.ForeignKey(User, on_delete=models.PROTECT, blank=False)
    introduction = models.TextField('自己紹介', max_length=300)
    p_part = models.TextField('主な担当', max_length=200)
    sex = models.ForeignKey('Sex', on_delete=models.PROTECT)
    high = models.ForeignKey('High', on_delete=models.PROTECT)
    middle = models.ForeignKey('Middle', on_delete=models.PROTECT)
    low = models.ForeignKey('Low', on_delete=models.PROTECT)
    freetime = models.TextField('空いている時間', max_length=300)
    p_created_at = models.DateTimeField(auto_now_add=True)
    p_update_at = models.DateTimeField(auto_now = True)
    
    def __str__(self):
        return self.introduction


PostProfile, Sex, High, Middle, Low

@admin.register(PostProfile)
class PostProfileAdomin(admin.ModelAdmin):
    list_display = ('id','p_author','introduction','p_parts', 'sex','high','middle','low','freetime','p_created_at',)
    list_display_links = ('introduction',)
    ordering = ('-a_created_at',)


def post_count(self):
    n = Post.objects.filter(category = self).count()
    return n

def __str__(self):
    return self.name


path('p_post_create',views.ProfilePostCreate.as_view(),name='p_post_create'),



class ProfilePostCreate(LoginRequiredMixin, CreateView): #投稿するときの処理
    model = PostProfile
    form_class = PostForm
    success_url = reverse_lazy('mainapp:profile')

    def form_valid(self, form):
        form.instance.author_id = self.request.user.id
        return super(PostCreate, self).form_valid(form)

    def get_success_url(self):
        messages.success(self.request, '募集を投稿しました。')
        return resolve_url('mainapp:profile')



class PostProfileForm(forms.ModelForm):
    class Meta:
        model = PostProfile
        fields = ('introduction','p_part','sex','high','middle','low','freetime')

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        for field in self.fields.values():
            field.widget.attrs['class'] = 'form-control'
