{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>投稿ページ</h2>
        <br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class = "btn btn-warning">投稿</button>
            <br>
            <br>
            <div class="form-group">
                <label>曲名</label>
                {{ form.song }}
            </div>
            <br>
            <div class="form-group">
                <label>募集パート</label>
                {{ form.parts }}
            </div>
            <br>
            <div class="form-group">
                <label>コメント</label>
                {{ form.comment }}
            </div>
            <br>
            <div class="form-group">
                <label>練習時間帯</label>
                {{ form.praTime }}
            </div>
            <br>
            



        </form>

    </div>
</div>




{% endblock %}