{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <br>
        <div class="card">
            <h4 class="card-header">詳細</h4>
            <div class="card-body">
                <h5><span>サークルネーム:</span>&nbsp;&nbsp;<strong>{{ object.p_author }}</strong></h5>
                <br>
                <h5><span>性別:</span>&nbsp;&nbsp;{{ object.sex }}</h5>
                <br>
                <h5>自己紹介</h5>
                <p class="card-text">・・・&nbsp;&nbsp;{{ object.introduction | linebreaksbr | urlizetrunc:15 }}</p>
                <br>
                <h5><span>主な担当パート:</span>&nbsp;&nbsp;{{ object.p_part | linebreaksbr }}</h5>
                <br>
                <h5><span>高音域:</span>&nbsp;&nbsp;{{ object.high }}</h5>
                <br>
                <h5><span>中音域:</span>&nbsp;&nbsp;{{ object.middle }}</h5>
                <br>
                <h5><span>低音域:</span>&nbsp;&nbsp;{{ object.low }}</h5>
                <br>
                <h5>空いている時間帯</h5>
                <p class="card-text">・・・&nbsp;&nbsp;{{ object.freetime | linebreaksbr | urlizetrunc:15 }}</p>
                <br>
                {% if object.p_author == request.user %}
                {% else %}
                <a class="btn" href="" style="background-color:#FF6699; color:white;">お気に入りに入れる</a>
                {% endif %}
                <hr>

                <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-dark">戻る</a>
                {% if object.p_author == request.user %}
                <a href="{% url 'mainapp:p_post_update' object.id %}" class="btn btn-primary">更新</a>
                <a href="{% url 'mainapp:p_post_delete' object.id %}" class="btn btn-outline-danger">削除</a>
                {% endif %}
            </div>
            <br>
        </div>

    </div>
    <br>
    <br>
</div>

{% endblock %}