{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>投稿削除</h2>
        <br>
        <div class="alert alert-danger" role="alert">
            <form method="post">
                {% csrf_token %}
                <p>以下の内容を本当に削除しますか？</p>
                <input type="submit" class="btn btn-outline-danger" value="削除する">
            </form>
        </div>
        <br>
        <p>曲名</p>
        {{ object.song }}
        <hr>
        <p>募集パート</p>
        {{ object.parts | linebreaksbr }}
        <p>コメント</p>
        {{ object.comment | linebreaksbr }}
        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}