{% extends 'mainapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>検索結果</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>募集者</th>
                    <th>曲名</th>
                    <th>募集パート</th>
                    <th>更新日時</th>
                </tr>
            </thead>
            <tbody>
                {% for item in search_list %}
                <tr>
                    <td>{{ item.author }}</td>
                    <td><u><a href="{% url 'mainapp:post_detail' item.id %}">{{ item.song }}</a></u></td>
                    <td>{{ item.parts }}</td>
                    <td>{{ item.update_at.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>

    </div>
</div>

{% endblock %}